:root{
	--blanco_fondo:#b4b4b4;
	--fondo:rgba(67, 67, 67, 0.62);
	--fondo2:rgba(67, 67, 67, 0.75);
	--negro:rgba(0,0,0,0.55);
	--radio:7px;
	--rosa_p:#FF67E7;
	--violeta_p:#C400FF;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face{
  font-family:"XXII Ultimate Black Metal";
  src: url("fuentes/XXII-Ultimate-Black-Metal.ttf");
}
@font-face{
  font-family:"Starjedi";
  src: url("fuentes/Starjhol.ttf");
}

/* ---- FOOTTER ANIMATION ---- */

@keyframes movimiento{

	0%{
		transform: translateX(-85%);
	}
	100%{
		transform: translateX(85%);
	}
}
/* ---- FOOTTER ANIMATION _ END ---- */

/* ---- TITLE ANIMATION ---- */

@keyframes font_anim1{

	25%{
		transform: translate(15.5%,25%);
	}
	50%{
		transform: translate(31%,0%);
	}
	75%{
		transform: translate(15.5%,25%);
	}
	100%{
		transform: translate(0,0);
	}
}

@keyframes font_anim2{

	25%{
		transform: translate(-15.5%,-25%);
	}
	50%{
		transform: translate(-31%,0);
	}
	75%{
		transform: translate(-15.5%,-25%);
	}
	100%{
		transform: translate(0,0);
	}
}
/* ---- TITLE ANIMATION _ END ---- */

body {
	background-image: url("imagenes/fondo6.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: var(--blanco_fondo);
	font-family: 'Crimson Text', serif;
}

/* ---- HEADER Y FOOTER ---- */

.header{
	background-color: var(--fondo);
	border-radius: var(--radio);
	padding: 1vw;
	margin:1vw 1vw 1.5vw 1vw;
}

.footer{
	background-color: var(--fondo);
	border-radius: var(--radio);
	margin:0vw 1vw 1vw 1vw;
	padding: 0.5vw 0vw 0.5vw 0vw;

}

.footer-nav_list.item1{
	padding-left: 0;
}

.header-nav_list{
	list-style: none;
	font-size: 2.65vw;
	display: flex;
	justify-content: space-around;
	padding: 0;
}

.footer-nav_list{
	list-style: none;
	font-size: 1.8vw;
	display: flex;
	justify-content: space-between;
	transition: all 0.6s;
	padding-left: 3.5%;
	padding-right: 3.5%;
}

.header-nav_list a, .footer-nav_list a {
	text-decoration: none;
	color: var(--blanco_fondo);
}

.item-home{
	height: 3.2vw;
	width: 3.2vw;
	transition: transform 0.9s, filter 2.5s;
}

.header-nav_list.item-home:hover{
	transform: scale(1.19);
	filter: drop-shadow(0 0 7px #000000B0);	
}

.emoji{
	position: relative;
	animation-name: movimiento;
	animation-duration: 11s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

.footer-nav_list.item1{
	text-shadow: 0 0 5.5px rgba(0,0,0,0.68), 0 0 25px rgba(0,0,0,0.65);
}

/*-- UNDERLINE HOVER EFFECT IN HEADER--*/

.underline-hover{
	display: inline-block;
	position: relative;
}

.underline-hover::after{
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 3px;
	bottom: 5px;
	left: 0;
	background-color: #FF67E7D5;
	transform-origin: bottom right;
	transition: transform 0.6s ease-out;
}

.uh2::after{
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 3px;
	bottom: 5px;
	left: 0;
	background-color: #FF67E7D5;
	transform-origin: bottom right;
	transition: transform 1.2s ease-out;
}

.underline-hover:hover::after{
	transform: scaleX(1);
	transform-origin: bottom left;
}

.header-nav_list.item a{
	transition: text-shadow 1s;
}

.header-nav_list.item a:hover{
	text-shadow: 0 0 10px #000000D5;
}
/*---- UNDERLINE HOVER EFFECT IN HEADER _ END -----*/
/* ---- HEADER Y FOOTER _ END  ---- */


/* ---- TITLE ANIMATION ---- */

.title_animation {
	font-family: 'XXII Ultimate Black Metal', serif;
	text-align: center;
	font-size: 7.5vw;
	line-height: 1.75;
	letter-spacing: 3px;
	text-shadow: 0px 0px 4px rgba(0,0,0,1), 0px 0px 6px rgba(0,0,0,0.8), -15px 0px 10px rgba(0,0,0,0.9), 15px 0px 10px rgba(0,0,0,0.9);
	z-index: 3;
	position: relative;
	top: 0.4em;
	user-select: none;
}


.font_animation1{
	position: absolute;
	left: 13.8vw;
	top: 2vw;
	color: #FF67E7E0;
	z-index: 1;
	font-family: 'XXII Ultimate Black Metal', serif;
	font-size: 6.9vw;
	line-height: 1.75;
	letter-spacing: 3px;
	text-shadow: 0px 0px 3px rgba(255,103,231,0.8), 0px 0px 6px rgba(255,103,231,0.6);
	animation-name: font_anim1;
	animation-duration: 20s;
	animation-timing-function:linear;
	animation-iteration-count: infinite;
	animation-delay: 1.1s;
	user-select: none;
}

.font_animation2{
	position: absolute;
	right: 13.8vw;
	top: 5vw;
	color: #C400FFE0;
	z-index: 1;
	font-family: 'XXII Ultimate Black Metal', serif;
	font-size: 6.9vw;
	line-height: 1.75;
	letter-spacing: 3px;
	text-shadow: 0px 0px 3px rgba(196,0,255,0.8), 0px 0px 6px rgba(196,0,255,0.6);
	animation-name: font_anim2;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function:linear;
	animation-direction: alternate;
	animation-delay: 1.1s;
	user-select: none;
}
/* ---- TITLE ANIMATION _ END  ---- */

/* ---- HOME SECTION ---- */

.contact-section{
	background-color: var(--fondo);
	border-radius: var(--radio);
	margin: 0vw 1vw 1vw 1vw;
	display: block;
	position: relative;
}

.contact-section__child{
	display: inline-flex;
	padding: 2% 3.5% 2% 3.5%;
	width: 100%;
	flex-wrap: wrap;
}

.profile_text{
	font-size: 2.2vw;
	text-shadow: 0 0 5.5px rgba(0,0,0,0.68), 0 0 25px rgba(0,0,0,0.65);
	line-height: 1.085em;
	z-index: 5;
}
.sweet-home{
	z-index: 100;
	text-decoration: none;
	color:var(--rosa_p);
	font-size: 1.75vw;
	font-family: 'Starjedi', serif;
	font-weight: bold;
	transition: text-shadow 0.3s;
	
	
}
.sweet-home:hover{
	text-shadow: 0 0 4px rgba(0,0,0,1), 0 0 7px rgba(0,0,0,1) , 0 0 10px rgba(0,0,0,0.7);
	
}

.profile_img{
	width: 22vw;
	height: 29.5vw;
	filter: grayscale(89%);
	position: relative;
	margin-right: 1.4%;
	margin-bottom: 0.2%;
	border-radius: 6%;
	object-fit: cover;
	object-position: 0% 65%;
	box-shadow: 0 0 7px rgba(34,34,34,0.20), 0 0 14px rgba(34,34,34,0.15);
	
}

.img1, .img3{
	float: left;
}

.img2{
	float: right;
	object-position: 0% 0%;
}

.img3{
	width: 27vw;
	height: 24vw;
	object-position: 0%;
	border-radius: 8px;
	margin: 30px 20px 30px 20px;
}

/* ---- HOME SECTION _ END ---- */


/* ---- TATTOO SECTION ---- */

.tattoos{
	width: 98%;
	position: relative;
	left:0;
	top:0;
	background: var(--fondo);
	margin: 0vw 1vw 1vw 1vw;
	border-radius: var(--radio);
	text-align:  center;
	padding-bottom: 3vw;
}

.conteiner-tattoos{	
	display: inline-grid;
	grid-template-columns: repeat(4, min-content);
	grid-template-rows: repeat(3,min-content);
	grid-column-gap: 4.5vw;
	grid-row-gap: 6.6vh;
	padding-top: 3.7%
}

.tattoos-box{
	background-color: var(--negro);
	width: 17vw;
	height: 25vw;
	border-radius: 13px;	
	transition: transform 1.3s, box-shadow 1.3s, filter 1.3s;
	filter: grayscale(100%);
	position: relative;
}

.tattoos-box:hover{
	transform: scale(1.15);
	box-shadow: 0 0 4.5px rgba(0,0,0,0.1), 0 0 15px rgba(0,0,0,0.35);
	margin:0vw 0vw 0vw 0vw;
	filter: grayscale(55%);
	cursor: pointer
}

.tattoos-box__img{
	width: 17vw;
	height: 22vw;
	border-radius: 13px 13px 0px 0px;
	transition: all 1.3s;
	object-fit: cover;
}

.tattoos-name{
	position: relative;
	bottom: 0.3%;
	font-size: 1.4vw;
	display: block;
}
/* ---- TATTOO SECTION _ END ---- */

/* ---- TATTOO MODAL ---- */

.modal-background{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	height: 237vh;
	width: 100%;
	background-color: var(--negro);
	z-index: 1000;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}
.modal{
	position: absolute;
}
.modal-img{
	height: 620px;
	width: 545px;
	object-fit: cover;
	box-shadow: 0 0 20px rgba(0,0,0,0.7);
	border-radius: 8px;
	user-select: none;
}

.modal-exit{
	top: 27.7%;
	font-size: 33px;
}
.modal-left{
	top: 47%;
	left: 26%;
	font-size: 48px;
}
.modal-right{
	top: 47%;
	right: 26%;
	font-size: 48px;
}
.modal-left, .modal-right{
	visibility: hidden;
}

.modal-exit, .modal-left, .modal-right{
	position: absolute;
	color: #ABABAB;
	font-weight: bold;
	transition: transform 0.7s;
	z-index: 1010;
	user-select: none;
}
.selector:hover{
	transform: scale(1.07);
	text-shadow: 0 0 4px #ABABAB70;
	cursor: pointer;
}


@keyframes modal-anim{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}




.conteiner{
	padding-bottom: 4vw;
}

form{
	width: 70%;
	margin: 3% auto 3% auto;
	background-color: var(--negro);
	padding: 2%;
	border-radius: var(--radio);
	position: relative;
}

.query-tattoo{
	display: inline-block;
	width: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
	padding-top: 2px;
	padding-bottom: 1%;
	border:none;
	background-color: transparent;
	border-top:4px solid #FF67E7C4;
	letter-spacing: 3px;
	font-weight: bold;
	color: #C4C4C4;
	outline: none;
	


}
.query-tattoo::placeholder{
	color: #C4C4C4;
	text-align: center;
	transition: all 0.6s;
}

.query-tattoo:hover{
	cursor: pointer;
}

.query-tattoo:hover::placeholder{
	transform: scale(1.07);

}

.query-tattoo:focus{
	outline: none;
}

.descripcion{
	width: 100%;
	height: 85px;
	resize: none;
	overflow-x: hidden;
	margin-bottom:5%;
}

.file{
	border-top:none;
}

.submit{
	width: 40%;
	padding-top: 1.2%;
	padding-bottom: 1.2%;	
	margin: auto;
	border-top:none;
	border: 3px solid #FF67E7EF;
	font-size: 1.1vw;
	letter-spacing: 0px;
	color: #FF67E7F0;
	border-radius: 4px;
	transition: background-color 0.5s;
	

}

.submit:hover, .file-button:hover{
	background-color: #FF67E7EF;
	color: #232323;
	cursor: pointer;
}

.conteiner_title{
	margin-left: 1.5%;
	display: block;
}

.file-button{
	background-color: transparent;
	color: #FF67E7EF;
	display: block;
	border:3px solid #FF67E7EF;
	border-radius: 4px;
	position: relative;
	height: 60px;
	width: 40%;
	margin-bottom: 5%;
	padding-top: 1vw;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 2px;
	transition: background-color 0.5s;
	
}



.file{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	opacity: 0;
}
.file:hover{
	cursor: pointer;
}

.file-name{
	display: block;
	position: absolute;
	left: 42%;
	bottom: 33%;
	letter-spacing: 2px;
	color: #FF67E7EF;
	font-size: 1.2vw;
}


#map {
  height: 500px;
  width:100%;
  border-radius: var(--radio);
}
