.trola{
	display: inline-block;
	position: relative;
}
.trola::after{
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: -2px;
	left: 0;
	background-color: #000;
	transform-origin: bottom right;
	transition: transform 0.24s ease-out;
}
.trola:hover::after{
	transform: scaleX(1);
	transform-origin: bottom left;
}