
.header{
    display: block;
    background-color: var(--fondo);
    border-radius: var(--radio);
    padding: 3vw;
    margin: 3vw 3vw 3vw 3vw;
    font-size: 7vw;
    font-weight: bold;  
    

}
.header-list{
    display:flex;
    justify-content: space-between;
    list-style: none;
}

.main{
    background-color: var(--fondo);
    border-radius: var(--radio);
    margin: 0vw 3vw 3vw 3vw;
    font-size: 8vw;
    display: block;
    position: relative;
    
}

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Yanone+Kaffeesatz&display=swap');
.title-animation-box{
    top: 1rem;
    font-family: 'Metal Mania', cursive;
    font-size: 9vw;
    position: relative;
    user-select: none;
    display: flex;
    justify-content: center;
    height:90px;
}
.title, .title-a1, .title-a2{
    position: absolute;
}
.title{
    text-shadow: 0px 0px 4px rgb(0 0 0), 0px 0px 6px rgb(0 0 0 / 60%), -15px 0px 10px rgb(0 0 0 / 70%), 15px 0px 10px rgb(0 0 0 / 70%);
    z-index: 3;
    text-align: center;

}
.title-a1{
    color: #FF67E7B0;
    z-index: 1;
    text-shadow: 0px 0px 3px rgb(255 103 231 / 85%), 0px 0px 6px rgb(255 103 231 / 66%), 0px 0px 12px rgb(255 103 231 / 45%);
    animation-name: font_anim1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1.1s;
}
.title-a2{
    color: #C400FFB0;
    z-index: 1;
    text-shadow: 0px 0px 3px rgb(196 0 255 / 85%), 0px 0px 6px rgb(196 0 255 / 65%), 0px 0px 12px rgb(196 0 255 / 45%);
    animation-name: font_anim2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-delay: 1.1s;
    user-select: none;
}
@keyframes font_anim1{
	25%{
		transform: translate(3.87%,14.5%);
	}
	50%{
		transform: translate(7.75%,0%);
	}
	75%{
		transform: translate(3.87%,-14.5%);
	}
	100%{
		transform: translate(0,0);
	}
}
@keyframes font_anim2{
	25%{
		transform: translate(-3.87%,12.5%);
	}
	50%{
		transform: translate(-7.75%,0);
	}
	75%{
		transform: translate(-3.87%,-12.5%);
	}
	100%{
		transform: translate(0,0);
	}
}

.tattoo-all-conteiner{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.tattoo-arrow{
    margin: 0 1.2% 0 1.2%;
    align-self: center;
    font-weight: bold;
    font-size: 10vw;
}

.tattooBox-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3%;
    margin-bottom:5%;
}
.box{
    border-radius: 6px;
    background-color: rgba(0,0,0,0.55);
    width: 100%;
    height: 100%;
    position: relative;
    
}
.img-tattoo{
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: 90%;
}
.name-tattoo{
    display: flex;
    width: 100%;
    height: 10%;
    position: absolute;
    left:0;
    bottom: 0;
    font-size: 1.2rem ;
    justify-content: center;
    
}